<p-dialog header="Staff Edit" [visible]="display" *ngIf="display" modal=true closable=true>
    <div class="modal-container">
      <p>Staff Type Code <input type="text" [disabled]=true pInputText placeholder="{{staff.code}}"/></p>
      <p>Staff Type Description <input type="text" pInputText placeholder="{{staff.description}}" /></p>
      <p>Staff Role <p-dropdown></p-dropdown> </p>
      <p>Enable After Call Work <p-dropdown [disabled]=true></p-dropdown></p>
      <p>Restrict Call History<p-dropdown [disabled]=true></p-dropdown></p>
    </div>
    <div class="modal-buttons">
      <p-button label="Deactivate" [disabled]=true  style="padding-right:10px" ></p-button>
      <p-button label="Cancel"  style="padding:10px" (onClick)="cancel()" ></p-button>
      <p-button label="Save"  style="padding:10px" ></p-button>
    </div>
</p-dialog>
