<p-dialog header="Staff Edit" [visible]="display" showHeader=false *ngIf="display" modal=true (onShow)="onShow()" >
    <div class="modal-container">
      <p>Staff Type Code <input type="text" pInputText [disabled]=true [(ngModel)]="staff.code"/></p>
      <p>Staff Type Description <input type="text" pInputText [(ngModel)]="sc.description"/></p>
      <p>Staff Role <p-dropdown [options]="roles" placeholder="{{sc.role}}" [(ngModel)]="selectedRole" optionLabel="name"></p-dropdown> </p>
      <p>Enable After Call Work <p-dropdown [disabled]=true></p-dropdown></p>
      <p>Restrict Call History<p-dropdown [disabled]=true></p-dropdown></p>
    </div>
    <p-footer>
      <p-button label="Deactivate" [disabled]=true ></p-button>
      <p-button label="Cancel"  (onClick)="cancel()" ></p-button>
      <p-button label="Save"  (onClick)="update()" ></p-button>
    </p-footer>
</p-dialog>
