<p-button label="Add" (onClick)="handleClick($event)" style="padding:10px" ></p-button>

<p-table [columns]="cols" [value]="staff | async" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="75vh" >
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-staff let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="staff" [pSelectableRowIndex]="rowIndex">
      <td *ngFor="let col of columns">
        {{staff[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>


<!-- MODAL -->
<app-modal [display]="display" [staff]="selectedRow" (onClose)="onModalClose()"></app-modal>
